.custom-shape-divider-top-1705377973 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1705377973 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 312px;
}

.custom-shape-divider-top-1705377973 .shape-fill {
    fill: #7FC7D9;
}