.custom-shape-divider-top-1705373820 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1705373820 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 269px;
}

.custom-shape-divider-top-1705373820 .shape-fill {
    fill: #88AB8E;
}